

.bodyone{
    background-color:#efd8d8;
}

.containerone{
    max-width: 600px;
    margin: 0 auto;
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
  }
  
  h1 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .btn {
    display: inline-block;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    background-color: #f2f2f2;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-secondary {
    background-color: #ccc;
    color: #fff;
  }
  